body {
  margin: 0;
  padding: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* antd button */
.ant-btn-color-primary {
  box-shadow: none !important;
}

/* antd upload */
.ant-upload-select {
  width: 100%;
}

/* antd label */
.ant-form-item-label {
  font-weight: 600;
}
.ant-form-item-label > label {
  width: 100%;
}

/* antd dropdown */
.ant-dropdown-menu {
  padding: 0 !important;
}
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 9px 13px !important;
}
.ant-dropdown-menu-item-selected {
  color: var(--ant-color-white) !important;
  background-color: var(--ant-color-primary) !important;
}
.ant-dropdown-menu-submenu-selected > .ant-dropdown-menu-submenu-title {
  color: var(--ant-border-text) !important;
}
.ant-dropdown-menu-item-divider {
  margin: 0 !important;
}

/* antd menu */
.ant-menu-item,
.ant-menu-submenu-title {
  padding-left: 14px !important;
}
.ant-menu-sub {
  border-left: 1px solid var(--ant-color-border) !important;
  margin-left: 22px !important;
  padding-left: 0px !important;
}
.ant-menu-title-content {
  transition: none !important;
}
.ant-menu-submenu-title {
  color: var(--ant-color-text) !important;
}
.ant-menu-item-divider {
  margin: 0 !important;
}

/* antd pagination */
.ant-pagination-item-active {
  background-color: var(--ant-color-primary);
  border: none;
}
.ant-pagination-item-active > a {
  color: var(--ant-color-white);
  transition: none !important;
}
